.greedy-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: $nav-height;
  background: $background-color;

  a {
    display: block;
    margin: 0 1rem;
    color: $masthead-link-color;
    text-decoration: none;
    -webkit-transition: none;
    transition: none;

    &:hover {
      color: $masthead-link-color-hover;
    }

    &.site-logo {
      margin-left: 0;
      margin-right: 0.5rem;
    }

    &.site-title {
      margin-left: 0;
    }
  }

  .visible-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;

    li {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;

      &:last-child {
        a {
          margin-right: 0;
        }
      }

      a {
        position: relative;
        
        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 4px;
          background: $primary-color;
          width: 100%;
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }

        &:hover:before,
        &.active:before {
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
  }
}